.projects {
    background-image: linear-gradient(to bottom, #f7ff51, #ffe481, #ffd9c5, #ffe3f6, #fff1ff, #e5dee9, #ceccd1, #b9b9b9, #878787, #585858, #2e2e2e, #000000);    width: 100%;
    height: 100vh;
}

.title-projects {
    display: flex;
    justify-content: center;
    font-family: 'Gloria Hallelujah', cursive;
}

.title-projects h1{
    font-size: 60px;
    margin-top: 80px;
    color: #07617d;
}

.content-img-build {
    display: flex;
    justify-content: center;
}

.build-img {
    z-index: 1;
    width: 50%;
    height: 70%;
}