@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.container-logo {
    display: flex;
    align-items: center;
    position: fixed;
    top: -7px;
    left: 13px;
    width: 23%;
}

.container-logo ul, .const-h1 ul,.const-h1 li,.const-h1 a,.const-h1 {
    list-style: none;
    width: 100%;
}

.const-h1 h1 .diferent-color {
    color: rgb(255, 244, 96);
}

.const-h1 div span span {
    color: rgb(255, 244, 96);
}

.container-logo ul li a {
    color: rgb(170, 168, 168);
    font-size: 23px;
    font-family: 'Gloria Hallelujah', cursive;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    letter-spacing: 5px;
    display: flex;
}

.container-logo ul li a:hover, .const-h1 h1 div .first-span{
    animation: color-infinite infinite 18s .4s;
}

.const-h1 div{
    position:fixed;
    top: 22px;
    font-size: 26px;
    opacity: 1;
    width: 20%;
    opacity: 0;
    padding-left: 92px;
    transition: .8s ease-in-out;
}


.const-h1 h1 div:hover {
    opacity: 1;
}

@keyframes color-infinite {
    0% {
        color: rgb(170, 168, 168);
    }
    5% {
        color: rgb(255, 244, 96);
    }
    10% {
        color: rgb(163, 162, 162);
    }
    15% {
        color: rgb(241, 232, 94);
    }
    20% {
        color: rgb(145, 145, 145);
    }
    25% {
        color: rgb(216, 207, 79);
    }
    30% {
        color: rgb(129, 128, 128);
    }
    35% {
        color: rgb(185, 178, 68);
    }
    40% {
        color: rgb(117, 117, 117);
    }
    45% {
        color: rgb(172, 164, 64);
    }
    50% {
        color: rgb(105, 104, 104);
    }
    55% {
        color: rgb(163, 156, 56);
    }
    60% {
        color: rgb(95, 95, 95);
    }
    65% {
        color: rgb(146, 140, 52);
    }
    70% {
        color: rgb(82, 82, 82);
    }
    75% {
        color: rgb(124, 119, 45);
    }
    80% {
        color: rgb(77, 77, 77);
    }
    85% {
        color: rgb(109, 103, 41);
    }
    90% {
        color: rgb(66, 66, 66);
    }
    95% {
        color: rgb(97, 93, 37);
    }
    100% {
        color: rgb(56, 56, 56);
    }
}